<form class="ui form" {{action save on='submit'}}>
  <h3 class="ui header">
    {{t 'List of supported currencies'}}
  </h3>
  {{#each model as |ticketFee|}}
    <div class="ui sub header">
      {{#if ticketFee.id }}
        {{ticketFee.country}}
      {{else}}
        <label class="required">{{t 'Select country'}}</label>
        {{#ui-dropdown class='search selection' selected=ticketFee.country forceSelection=false
                       fullTextSearch=true}}
          {{input type='hidden' id='ticket_country' value=ticketFee.country}}
          <i class="dropdown icon"></i>
          <div class="default text">{{t 'Select country'}}</div>
          <div class="menu">
            {{#each paymentCountries as |paymentCountry|}}
              <div class="item" data-value="{{paymentCountry.name}}">
                <i class="{{lowercase paymentCountry.code}} flag"></i>
                {{paymentCountry.name}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      {{/if}}
    </div>
    <div class="ui sub header">
      {{#if ticketFee.id }}
        {{currency-name ticketFee.currency}} - {{ticketFee.currency}} ({{currency-symbol ticketFee.currency}})
      {{else}}
        <label class="required">{{t 'Select currency'}}</label>
        {{#ui-dropdown class='search selection' selected=ticketFee.currency forceSelection=false
                       fullTextSearch=true}}
          {{input type='hidden' id='payment_currency' value=ticketFee.currency}}
          <i class="dropdown icon"></i>
          <div class="default text">{{t 'Select currency'}}</div>
          <div class="menu">
            {{#each paymentCurrencies as |paymentCurrency|}}
              <div class="item" data-value="{{paymentCurrency.code}}">
                {{paymentCurrency.code}} -
                {{paymentCurrency.name}}
                ({{paymentCurrency.symbol}})
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      {{/if}}
    </div>
    <div class="field">
      <div class="label">
        {{t 'Service Fee'}}
      </div>
      <div class="ui right labeled input">
        {{input type='number' name=(concat ticketFee.currency '_service') value=ticketFee.serviceFee step=0.1 min=0}}
        <div class="ui basic label">
          %
        </div>
      </div>
    </div>
    <div class="field">
      <div class="label">
        {{t 'Maximum Fee'}}
      </div>
      <div class="ui right labeled input">
        <div class="ui label">
          {{#if ticketFee.currency}}
            {{currency-symbol ticketFee.currency}}
          {{/if}}
        </div>
        {{input type='number' name=(concat ticketFee.currency '_maximum') value=ticketFee.maximumFee step=0.1 min=0}}
        <div class="ui basic label">
          {{#ui-popup content=(t 'If you keep the maximum fee as 0, it  would become unlimited. Kindly set the maximum fee to some value.')}}
            <i class="info circle fitted icon"></i>
          {{/ui-popup}}
        </div>
      </div>
    </div>
    <div class="ui hidden divider"></div>
  {{/each}}

  <button type="button" class="ui teal button" {{action 'addNewTicket'}}>
    {{t 'Add New'}}
  </button>

  <button class="ui teal button" type="submit">
    {{t 'Save'}}
  </button>
</form>
