{{#unless newUser}}
  <div class="ui one column container stackable doubling centered grid">
    <div class="column">
      {{forms/login-form identification=identification}}
    </div>
  </div>
{{else}}
<div class="ui stackable three column doubling centered grid">
  <div class="column">
  <form class="ui large form" autocomplete="off" {{action 'getStarted' on='submit'}}>
    <div class="ui aligned segment basic less margin less padding">
      <h3 class="weight-400">{{t 'Lets get started'}}</h3>
    </div>
    <div class="ui segments">
      <div class="ui segment {{if isLoading 'loading' ''}}">
        {{#if errorMessage}}
          <div class="ui negative message">
            <p>{{errorMessage}}</p>
          </div>
        {{/if}}
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            {{input name='email' placeholder=(t 'Email ID') value=email}}
          </div>
        </div>

        <div class="ui center aligned segment basic">
          <div class="ui vertical buttons">
            <button type="submit" class="ui fluid large teal submit button register">
              {{t 'Get Started'}}
            </button>

            {{#unless noSocial}}
              <button type="button" class="ui facebook button" {{action 'auth' 'facebook'}}>
                <i class="facebook icon"></i>
                {{t 'Login with Facebook'}}
              </button>
            {{/unless}}
          </div>
        </div>
      </div>
      <a class="ui secondary segment center aligned text muted weight-800">
        {{t 'Enter your email to sign in or sign up'}}
      </a>
    </div>
  </form>
  </div>
</div>
{{/unless}}
